:root {
    --shadow-color:rgba(41, 37, 37, 0.7);
    --bg-color-2: rgb(7, 2, 2);
    --bg-color: #141416;
    --text-color: #e0d4d4;
    --shadow-color: rgba(0, 0, 0, 0.7);
    --main-color: #4d27ca;
    --white-color: #fdfdfd;
  }
  
.body {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    min-height: 100vh;
    width: 100%;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    display: flex;
    flex-direction: row;
    background: #141416;
}

.extra, .main {
    /* box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454); */
    padding: 0.25rem;
    margin: 0rem;
    margin-bottom: 0;
    overflow: hidden;
}

.extra {
    width: 20%;
    /* overflow-wrap: break-word; */
    display: flex;
    flex-direction: column;
}

.top {
    margin-top: 0;
    margin-bottom: 0.5rem;
    background: black;
    padding: 0.5rem;
    border-radius: 5px;
}

.bottom {
    background: black;
    height: 100%;
    padding: 0.5rem;
    border-radius: 2px;
}

.bottom button {
    margin: 0.5rem;
}
.main {
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    background: black;
}

.navbar {
    /* box-shadow: 0px 0px 20px 1px #ffbb763f; */
    /* border: 1px solid rgba(255, 255, 255, 0.454);  */
    width: 100%;
    height: 5rem;
    margin-bottom: 0.3rem;
    overflow: hidden;
    /* padding: 1rem;
    margin: 1rem;  */
}

.extra button {
    transition: 0.5s ease-in-out;
}
.extra button:hover {
    padding: auto;
    border-radius: 0.5rem;
    scale: 1.05;
}

@media (max-width: 375px) {
    .body {
        display: flex;
        flex-direction: column;
    }
    .extra {
        width: 100%;
    }
    .bottom {
        display: none;
    }
}
@media (max-width: 450px) {}
@media (max-width: 617px) {}
@media (max-width: 768px) {}
@media (max-width: 991px) {}
@media (max-width: 1024px){}
@media (max-width: 1200px) {}