:root {
    --shadow-color:rgba(41, 37, 37, 0.7);
    --bg-color-2: rgb(7, 2, 2);
    --bg-color: #141416;
    --text-color: #e0d4d4;
    --shadow-color: rgba(0, 0, 0, 0.7);
    --main-color: #4d27ca;
    --white-color: #fdfdfd;
  }
  
  .body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    background: #141416;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #141416;
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 1; /* Add this line */

    /* Add other styles as needed */
}

.sidebar .top {
    margin-bottom: 0.5rem;
}

.sidebar .bottom {
    height: 100%;
}

.main {
    flex-grow: 1;
    padding: 1rem;
    box-sizing: border-box;
    /* Add other styles as needed */
}
.bottom button {
    margin: 0.5rem;
}
.main {
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 80%;
    background: black;
    right: 0;
    position: absolute;
}

.navbar {
    /* box-shadow: 0px 0px 20px 1px #ffbb763f; */
    /* border: 1px solid rgba(255, 255, 255, 0.454);  */
    width: 100%;
    height: 5rem;
    margin-bottom: 0.3rem;
    overflow: hidden;
    /* padding: 1rem;
    margin: 1rem;  */
}

.extra button {
    transition: 0.5s ease-in-out;
}
.extra button:hover {
    padding: auto;
    border-radius: 0.5rem;
    scale: 1.05;
}

@media (max-width: 375px) {
    .body {
        display: flex;
        flex-direction: column;
    }
    .extra {
        width: 100%;
    }
    .bottom {
        display: none;
    }
}
@media (max-width: 450px) {}
@media (max-width: 617px) {}
@media (max-width: 768px) {}
@media (max-width: 991px) {}
@media (max-width: 1024px){}
@media (max-width: 1200px) {}