.search {
    display: inline-block;
    position: relative;

  }
  
  .search input[type="text"] {
    color: #fff;
    width: 200px;
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 20px;
    /* box-shadow: 0px 0px 20px 1px #ffbb763f; */
    border: 1px solid rgba(255, 255, 255, 0.454);
  }
  