
.showsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    box-shadow: 0px 0px 20px 1px black;
    margin: 10px;
    margin-top: 50px;
}

.preview {
    padding: 0;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--bg-color);
    background: rgb(4, 4, 51);
    color: aqua;
    box-shadow:  0 0.1rem 0.5rem var(--shadow-color);
    width: 350px;
    height: 230px;
    transition: all ease .3s;
    overflow: hidden;
    border-radius: 10px;

}
.preview:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
    background: black;
}
.middle2 {
    display: flex;
    gap: 3px; 
}

.image {
    width: 140px;
    height: 150px;
    /* border: 1px solid blue; */
}

.info p, h4 {
    width: 200px;
    padding: 0;
}

.title{
    font-size: large;
    max-width: 330px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}