@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  --shadow-color:rgba(41, 37, 37, 0.7);
  --bg-color-2: rgb(7, 2, 2);
  --bg-color: #141416;
  --text-color: #e0d4d4;
  --shadow-color: rgba(0, 0, 0, 0.7);
  --main-color: #4d27ca;
  --white-color: #fdfdfd;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* width: fit-content; */
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}
